jvmPath={{ jvm_path }}/jre/lib/amd64/server/libjvm.so
libraryPath={{ installation_dir }}/lib

takipi.backend.url={{ backend_url }}
takipi.storage.test.url={{ storage_url }}
takipi.jvm.heap.size={{ jvm_heap_size }}
takipi.listen.port={{ listen_port }}
takipi.server.name={{ server_name }}